*.py[cod]
__pycache__/

# click?
.cache

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

.webassets-cache

# SQLite DB
app/dev.db

# Bower dependencies
app/league/static/libs/*
!app/league/static/libs/.gitkeep

# Generated CSS/JS
app/league/static/public/css/common.css
app/league/static/public/js/common.js
app/league/static/css/common.css
app/league/static/js/common.js
