
{% extends "layout.html" %}

{% block content %}
<div class="container-narrow">
  <div class="row">
    <div class="main">
      <h1 class="page-header">Dashboard</h1>
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Most Wins in Current Episode</h2>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="col-sm-1"/>
                    <th class="col-sm-8">Player</th>
                    <th class="col-sm-3">Wins</th>
                  </tr>
                </thead>
                <tbody>
                  {% for place, stat in episode_stats['wins'] -%}
                  <tr>
                    <td><strong>{{ place + 1 }}</strong></td>
                    <td><a href="{{url_for('dashboard.get_player', player_id=stat[0].id)}}">{{ stat[0].full_name }}</a></td>
                    <td>{{ stat[1] }}</td>
                  </tr>
                  {%- endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Most Games in Current Episode</h2>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="col-sm-1"/>
                    <th class="col-sm-8">Player</th>
                    <th class="col-sm-3">Games</th>
                  </tr>
                </thead>
                <tbody>
                  {% for place, stat in episode_stats['games_played'] -%}
                  <tr>
                    <td><strong>{{ place + 1 }}</strong></td>
                    <td><a href="{{url_for('dashboard.get_player', player_id=stat[0].id)}}">{{ stat[0].full_name }}</a></td>
                    <td>{{ stat[1] }}</td>
                  </tr>
                  {%- endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Most Handicap Stones Given in Current Episode</h2>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="col-sm-1"/>
                    <th class="col-sm-8">Player</th>
                    <th class="col-sm-3">Stones Given</th>
                  </tr>
                </thead>
                <tbody>
                  {% for place, stat in episode_stats['stones_given'] -%}
                  <tr>
                    <td><strong>{{ place + 1 }}</strong></td>
                    <td><a href="{{url_for('dashboard.get_player', player_id=stat[0].id)}}">{{ stat[0].full_name }}</a></td>
                    <td>{{ stat[1] }}</td>
                  </tr>
                  {%- endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Players</h2>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="col-sm-3">AGA ID</th>
                <th class="col-sm-7">Name</th>
                <th class="col-sm-2">AGA Rank</th>
              </tr>
            </thead>
            <tbody>
              {% for player in players -%}
              <tr>
                <td><a href="players/{{player.id}}"> {{ player.aga_id }}</a></td>
                <td><a href="players/{{player.id}}"> {{ player.full_name }}</a></td>
                <td>{{ player.aga_rank }}</td>
              </tr>
              {%- endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Games</h2>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>White</th>
                <th>Black</th>
                <th>Handicap</th>
                <th>Komi</th>
                <th>Season</th>
                <th>Episode</th>
                <th>Played</th>
              </tr>
            </thead>
            <tbody>
              {% for game in games -%}
              <tr>
                <td>
                  <a href="players/{{ game.white.id }}">
                    {% if game.winner.name == 'white' %}
                    <strong>{{ game.white.full_name }}</strong>
                    {% else %}
                    {{ game.white.full_name }}
                    {% endif %}
                  </a>
                </td>
                <td>
                  <a href="players/{{ game.black.id }}">
                    {% if game.winner.name == 'black' %}
                    <strong>{{ game.black.full_name }}</strong>
                    {% else %}
                    {{ game.black.full_name }}
                    {% endif %}
                  </a>
                </td>
                <td>{{ game.handicap }}</td>
                <td>{{ game.komi }}</td>
                <td>{{ game.season }}</td>
                <td>{{ game.episode }}</td>
                <td>{{ game.played_at }}</td>
              </tr>
              {%- endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
