
{% extends "layout.html" %}

{% block content %}
<div class="modal fade" id="editor-modal" tabindex="-1" role="dialog" aria-labelledby="editor-title">
  <div class="modal-dialog" role="document">
    <form class="modal-content form-horizontal" id="editor">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="editor-title">Add Game</h4>
      </div>
      <div class="modal-body">
        <input type="number" id="id" name="id" class="hidden"/>
        <div class="form-group">
          <label for="white" class="col-sm-3 control-label">White</label>
          <div class="col-sm-9">
            <select class="form-control" id="white" name="white">
              {% for player in players -%}
              <option value="{{ player.id }}"> {{ player.full_name }} ({{ player.aga_id }})</option>
              {%- endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="black" class="col-sm-3 control-label">Black</label>
          <div class="col-sm-9">
            <select class="form-control" id="black" name="black">
              {% for player in players -%}
              <option value="{{ player.id }}"> {{ player.full_name }} ({{ player.aga_id }})</option>
              {%- endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="winner" class="col-sm-3 control-label">Winner</label>
          <div class="col-sm-9">
            <select class="form-control" id="winner" name="winner">
              <option>white</option>
              <option>black</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="playedAtDate" class="col-sm-3 control-label">Played At Date</label>
          <div class="col-sm-9">
            <input type="date" class="form-control" id="playedAtDate" name="playedAtDate" placeholder="Played at date">
          </div>
        </div>
        <div class="form-group">
          <label for="playedAtTime" class="col-sm-3 control-label">Played At Time</label>
          <div class="col-sm-9">
            <input type="time" class="form-control" id="playedAtTime" name="playedAtTime" placeholder="Played at time">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </form>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="main">
      <h1 class="page-header">Games</h1>
      <div class="table-responsive">
        <table id="gameTable" class="table table-striped" data-paging="true" data-filtering="true" data-filter-delay="-1" data-sorting="true">
          <thead>
            <tr>
              <th data-name="id">ID</th>
              <th data-name="white">White</th>
              <th data-name="black">Black</th>
              <th data-name="winner">Winner</th>
              <th data-name="handicap">Handicap</th>
              <th data-name="komi">Komi</th>
              <th data-name="season">Season</th>
              <th data-name="episode">Episode</th>
              <th data-name="playedAt">Played At</th>
              <th data-name="createdAt">Created At</th>
            </tr>
          </thead>
          <tbody>
            {% for game in games -%}
            <tr>
              <td>{{ game.id }}</td>
              <td data-value="{{ game.white.id }}" />
              <td data-value="{{ game.black.id }}" />
              <td>{{ game.winner.name }}</td>
              <td>{{ game.handicap }}</td>
              <td>{{ game.komi }}</td>
              <td>{{ game.season }}</td>
              <td>{{ game.episode }}</td>
              <td>{{ game.played_at }}</td>
              <td>{{ game.created_at }}</td>
            </tr>
            {%- endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
var players = {};
{% for player in players -%}
players[{{ player.id }}] = '{{ player.full_name }} ({{ player.aga_id }})';
{%- endfor %}
var player_formatter = function(value) {
  return players[value];
};

var $modal = $('#editor-modal'),
  $editor = $('#editor'),
  $editorTitle = $('#editor-title'),
  ft = FooTable.init('#gameTable', {
    columns: [
      {},
      {'formatter': player_formatter},
      {'formatter': player_formatter},
      {},
      {},
      {},
      {},
      {},
      {},
      {}
    ],
    editing: {
      enabled: true,
      alwaysShow: true,
      addText: 'Add game',
      addRow: function(){
        $modal.removeData('row');
        $editor[0].reset();
        $editorTitle.text('Add a new game');
        $modal.modal('show');
      },
      editRow: function(row){
        var values = row.val();
        $editor.find('#id').val(values.id);
        $editor.find('#white').val(values.white);
        $editor.find('#black').val(values.black);
        $editor.find('#winner').val(values.winner);
        $editor.find('#playedAt').val(values.playedAt);

        $modal.data('row', row);
        $editorTitle.text('Edit game #' + values.id);
        $modal.modal('show');
      },
      deleteRow: function(row){
        if (confirm('Are you sure you want to delete this game?')){
          row.delete();
        }
      }
    }
  }),
  uid = 10;

$editor.on('submit', function(e){
  if (this.checkValidity && !this.checkValidity()) return;
  e.preventDefault();
  var row = $modal.data('row'),
    values = {
      id: $editor.find('#id').val(),
      white: $editor.find('#white').val(),
      black: $editor.find('#black').val(),
      winner: $editor.find('#winner').val(),
      playedAt: moment($editor.find('#playedAt').val(), 'YYYY-MM-DD'),
    };

  if (row instanceof FooTable.Row){
    row.val(values);
  } else {
    values.id = uid++;
    ft.rows.add(values);
  }
  $modal.modal('hide');
});
</script>
{% endblock %}
