
{% extends "layout.html" %}

{% block content %}
<div class="modal fade" id="editor-modal" tabindex="-1" role="dialog" aria-labelledby="editor-title">
  <div class="modal-dialog" role="document">
    <form class="modal-content form-horizontal" id="editor">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="editor-title">Add Game</h4>
      </div>
      <div class="modal-body">
        <input type="number" id="id" name="id" class="hidden"/>
        <div class="form-group">
          <label for="white_id" class="col-sm-3 control-label">White</label>
          <div class="col-sm-9">{{ game_create_form.white_id(class_='form-control') }}</div>
        </div>
        <div class="form-group">
          <label for="black_id" class="col-sm-3 control-label">Black</label>
          <div class="col-sm-9">{{ game_create_form.black_id(class_='form-control') }}</div>
        </div>
        <div class="form-group">
          <label for="winner" class="col-sm-3 control-label">Winner</label>
          <div class="col-sm-9">{{ game_create_form.winner(class_='form-control') }}</div>
        </div>
        <div class="form-group">
          <label for="handicap" class="col-sm-3 control-label">Handicap</label>
          <div class="col-sm-9">{{ game_create_form.handicap(class_='form-control') }}</div>
        </div>
        <div class="form-group">
          <label for="komi" class="col-sm-3 control-label">Komi</label>
          <div class="col-sm-9">{{ game_create_form.komi(class_='form-control') }}</div>
        </div>
        <div class="form-group">
          <label for="season" class="col-sm-3 control-label">Season</label>
          <div class="col-sm-9">{{ game_create_form.season(class_='form-control') }}</div>
        </div>
        <div class="form-group">
          <label for="episode" class="col-sm-3 control-label">Episode</label>
          <div class="col-sm-9">{{ game_create_form.episode(class_='form-control') }}</div>
        </div>
        <div class="form-group">
          <label for="played_at" class="col-sm-3 control-label">Played at</label>
          <div class="input-group date col-sm-9" id="played_at_dtp" >
            <input id="played_at" type="text" class="form-control"/>
            <span class="input-group-addon" >
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="submit-button" type="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </form>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="main">
      <h1 class="page-header">Games</h1>
      <div class="table-responsive">
        <table id="gameTable" class="table table-striped" data-paging="true" data-filtering="true" data-filter-delay="-1" data-sorting="true">
          <thead>
            <tr>
              <th data-name="id">ID</th>
              <th data-name="white">White</th>
              <th data-name="black">Black</th>
              <th data-name="winner">Winner</th>
              <th data-name="handicap">Handicap</th>
              <th data-name="komi">Komi</th>
              <th data-name="season">Season</th>
              <th data-name="episode">Episode</th>
              <th data-name="played_at">Played At</th>
              <th data-name="created_at">Created At</th>
            </tr>
          </thead>
          <tbody>
            {% for game in games -%}
            <tr>
              <td>{{ game.id }}</td>
              <td data-value="{{ game.white.id }}" />
              <td data-value="{{ game.black.id }}" />
              <td>{{ game.winner.name }}</td>
              <td>{{ game.handicap }}</td>
              <td>{{ game.komi }}</td>
              <td>{{ game.season }}</td>
              <td>{{ game.episode }}</td>
              <td>{{ game.played_at }}</td>
              <td>{{ game.created_at }}</td>
            </tr>
            {%- endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
local_dt_format = 'MM/DD/YYYY hh:mm A';
local_tz = '-0500';
server_dt_format = 'YYYY-MM-DD HH:mm:ss ZZ';

var csrfToken = '{{ csrf_token() }}';

var players = {};
{% for choice in game_create_form.white_id.choices -%}
players[{{ choice[0] }}] = '{{ choice[1] }}';
{%- endfor %}

var format_player = function(value) {
  return players[value];
};

var format_date = function(value) {
  return moment.utc(value, server_dt_format).utcOffset(local_tz).format(local_dt_format);
}

var create_game = function(values) {
  $.post({
    url: '{{ url_for('dashboard.create_game') }}',
    data: {
      white_id: values.white_id,
      black_id: values.black_id,
      winner: values.winner,
      handicap: values.handicap,
      komi: values.komi,
      season: values.season,
      episode: values.episode,
      played_at: values.played_at,
      csrf_token: csrfToken
    }
  }).done(function(data) {
    ft.rows.add({
      id: data.game_id,
      white: data.white_id,
      black: data.black_id,
      winner: data.winner,
      handicap: data.handicap,
      komi: data.komi,
      season: data.season,
      episode: data.episode,
      played_at: data.played_at,
      created_at: data.created_at
    });
  });
}

var update_game = function(values) {
  return $.post({
    url: '{{ url_for('dashboard.delete_game') }}',
    data: {
      game_id: values.id,
      csrf_token: csrf_token
    }
  });
}

var delete_game = function(id) {
  return $.ajax({
    url: '{{ url_for('dashboard.delete_game') }}',
    type: 'DELETE',
    data: {
      game_id: id,
      csrf_token: csrfToken
    }
  });
}

var $modal = $('#editor-modal'),
  $editor = $('#editor'),
  $editorTitle = $('#editor-title'),
  $submitButton = $('#submit-button'),
  ft = FooTable.init('#gameTable', {
    columns: [
      {},
      {'formatter': format_player},
      {'formatter': format_player},
      {},
      {},
      {},
      {},
      {},
      {'formatter': format_date},
      {'formatter': format_date}
    ],
    editing: {
      enabled: true,
      alwaysShow: true,
      addText: 'Add game',
      addRow: function(){
        $modal.removeData('row');
        $editor[0].reset();
        $editorTitle.text('Add a new game');
        $submitButton.text('Add game');
        $editor.action = create_game;

        now = moment();
        $editor.find('#played_at').val(now.format(local_dt_format));
        $('#played_at_dtp').datetimepicker();

        $modal.modal('show');
      },
      editRow: function(row){
        var values = row.val();
        $editor.find('#id').val(values.id);
        $editor.find('#white_id').val(values.white);
        $editor.find('#black_id').val(values.black);
        $editor.find('#winner').val(values.winner);
        $editor.find('#handicap').val(values.handicap);
        $editor.find('#komi').val(values.komi);
        $editor.find('#season').val(values.season);
        $editor.find('#episode').val(values.episode);
        $editor.find('#played_at').val(moment(values.played_at, server_dt_format).format(local_dt_format));

        playedAt = $editor.find('#played_at');

        $editor.find('#playedAtDate').val(values.playedAtDate);
        $editor.find('#playedAtTime').val(values.playedAtTime);

        $modal.data('row', row);
        $editorTitle.text('Edit game #' + values.id);
        $submitButton.text('Update game');
        $editor.action = update_game;
        $modal.modal('show');
      },
      deleteRow: function(row){
        if (confirm('Are you sure you want to delete this game?')){
          row.delete();
          delete_game(row.value.id);
        }
      }
    }
  });

$editor.on('submit', function(e) {
  if (this.checkValidity && !this.checkValidity()) return;
  e.preventDefault();
  var row = $modal.data('row'),
    values = {
      id: $editor.find('#id').val(),
      white_id: $editor.find('#white_id').val(),
      black_id: $editor.find('#black_id').val(),
      winner: $editor.find('#winner').val(),
      handicap: $editor.find('#handicap').val(),
      komi: $editor.find('#komi').val(),
      season: $editor.find('#season').val(),
      episode: $editor.find('#episode').val(),
      played_at: moment.utc($editor.find('#played_at').val(), local_dt_format).format(server_dt_format)
    };

  $editor.action(values);
  $modal.modal('hide');
});
</script>
{% endblock %}
