
{% extends "layout.html" %}

{% block content %}
<div class="container-narrow">
  <div class="row">
    <div class="main">
      <h1 class="page-header">{{ player.full_name }}</h1>
      <div class="row">
        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">AGA Info</h3>
            </div>
            <div class="panel-body">
              <h5>
                ID:
                <a href="http://agagd.usgo.org/player/{{ player.aga_id }}">
                  {{ player.aga_id }}
                </a>
              </h5>
              <h5>
                Rank: {{ player.aga_rank }}
              </h5>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">This Episode</h3>
            </div>
            <div class="panel-body">
              <h5>
                Wins: {{ episode_stats.wins }}
              </h5>
              <h5>
                Losses: {{ episode_stats.losses }}
              </h5>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">This Season</h3>
            </div>
            <div class="panel-body">
              <h5>
                Wins: {{ season_stats.wins }}
              </h5>
              <h5>
                Losses: {{ season_stats.losses }}
              </h5>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Overall</h3>
            </div>
            <div class="panel-body">
              <h5>
                Wins: {{ league_stats.wins }}
              </h5>
              <h5>
                Losses: {{ league_stats.losses }}
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Games Played</h3>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th />
                <th>White</th>
                <th>Black</th>
                <th>Handicap</th>
                <th>Komi</th>
                <th>Season</th>
                <th>Episode</th>
                <th>Played</th>
              </tr>
            </thead>
            <tbody>
              {% for game in player.games -%}
              <tr>
                <td />
                <td>
                  <a href="{{ game.white.id }}">
                    {% if game.winner.name == 'white' %}
                    <strong>{{ game.white.full_name }}</strong>
                    {% else %}
                    {{ game.white.full_name }}
                    {% endif %}
                  </a>
                </td>
                <td>
                  <a href="{{ game.black.id }}">
                    {% if game.winner.name == 'black' %}
                    <strong>{{ game.black.full_name }}</strong>
                    {% else %}
                    {{ game.black.full_name }}
                    {% endif %}
                  </a>
                </td>
                <td>{{ game.handicap }}</td>
                <td>{{ game.komi }}</td>
                <td>{{ game.season }}</td>
                <td>{{ game.episode }}</td>
                <td>{{ game.played_at }}</td>
              </tr>
              {%- endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
