
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ url_for('dashboard.dashboard') }}">League</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('dashboard.prizes') }}">Prizes</a></li>
      <li><a href="{{ url_for('public.about') }}">About</a></li>
      {% if current_user and current_user.is_authenticated %}
      <li><a href="{{ url_for('dashboard.get_players') }}">Players</a></li>
      <li><a href="{{ url_for('dashboard.list_games') }}">Games</a></li>
      <li><a href="{{ url_for('dashboard.get_reports') }}">Reports</a></li>
      {% endif %}
    </ul>
    {% if current_user and current_user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
      {% if current_user.is_admin %}
      <li>
        <a class="navbar-link" href="{{ url_for('admin.settings') }}">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Admin
        </a>
      </li>
      {% endif %}
      <li>
          <p class="navbar-text">Logged in as {{ current_user.username }}</p>
      </li>
      <li><a class="navbar-link" href="{{ url_for('public.logout') }}"><i class="fa fa-sign-out"></i></a></li>
    </ul>
    {% elif login_form %}
    <form id="loginForm" method="POST" class="navbar-form form-inline navbar-right" action="/dashboard/" role="login">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="form-group">
        {{ login_form.username(placeholder="Username", class_="form-control") }}
        {{ login_form.password(placeholder="Password", class_="form-control") }}
      </div>
      <button type="submit" class="btn btn-default">Log in</button>
    </form>
    {% endif %}
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
