
{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="main">
      <h1 class="page-header">Dashboard</h1>
      <h2 class="sub-header">Games</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              {% for header in headers -%}
              <th>{{ header }}</th>
              {%- endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in data -%}
            <tr>
              {% for column in row -%}
              <td>{{ column }}</td>
              {%- endfor %}
            </tr>
            {%- endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
