
{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="main">
      <h1 class="page-header">Players</h1>
      <form id="playerCreateForm" method="POST" class="form-inline" action="{{ url_for('dashboard.create_player') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
          {{ player_create_form.first_name(placeholder="First name", class_="form-control") }}
          {{ player_create_form.last_name(placeholder="Last name", class_="form-control") }}
          {{ player_create_form.aga_id(placeholder="AGA ID", class_="form-control") }}
          {{ player_create_form.aga_rank(placeholder="AGA Rank", class_="form-control") }}
        </div>
        <button type="submit" class="btn btn-default">Add Player</button>
      </form>
      <form id="playerDeleteForm" class="form" method="POST" action="{{ url_for('dashboard.delete_player') }}" role="form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-check">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th />
                  <th>AGA ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>AGA Rank</th>
                </tr>
              </thead>
              <tbody>
                {% for player in players -%}
                <tr>
                  <td><label class="form-check-label"><input class="form-check-input" type="checkbox" name="player_id" value="{{ player.id }}"></label></td>
                  <td>{{ player.first_name }}</td>
                  <td>{{ player.last_name }}</td>
                  <td>{{ player.aga_id }}</td>
                  <td>{{ player.aga_rank }}</td>
                </tr>
                {%- endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <button type="submit" class="btn btn-default">Delete Selected Players</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
