{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
  <h1>Site Settings</h1>
  <br/>
  <form id="siteSettingsForm" class="form" method="POST" action="" role="form">
    {{ site_settings_form.csrf_token }}
    <div class="form-group">
      {{ site_settings_form.dashboard_title.label }}
      {{ site_settings_form.dashboard_title(class_="form-control",
                                    value=site_settings.dashboard_title)}}
    </div>
    <div class="form-group">
      {{ site_settings_form.this_episode_phrase.label }}
      {{ site_settings_form.this_episode_phrase(class_="form-control",
                                    value=site_settings.this_episode_phrase)}}
    </div>

    <div class="form-group">
      {{ site_settings_form.about_page_text.label }}
      {{ site_settings_form.about_page_text(class_="form-control",
                                value=site_settings.about_page_text) }}
    </div>

    {{ site_settings_form.update(class="btn btn-default btn-submit") }}
  </form>
</div>
{% endblock %}
