{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
  <h1>Slack Integration</h1>
  <br/>
  <form id="slackIntegrationForm" class="form" method="POST" action="" role="form">
  {% from "admin/_formhelpers.html" import render_field %}
    {{ slack_integration_form.csrf_token }}
    {{ render_field(slack_integration_form.enabled,
                    checked=messenger.enabled) }}
    {{ render_field(slack_integration_form.webhook,
                    value=messenger.url,
                    class_="form-control") }}
    {{ render_field(slack_integration_form.channel,
                    value=messenger.channel,
                    class_="form-control") }}
    {{ render_field(slack_integration_form.username,
                    value=messenger.username,
                    class_="form-control") }}
    {{ render_field(slack_integration_form.icon_emoji,
                    value=messenger.icon_emoji,
                    class_="form-control") }}
    {{ slack_integration_form.update(class="btn btn-default btn-submit") }}
    {{ slack_integration_form.test(class="btn btn-default btn-submit") }}
  </form>
</div>
{% endblock %}
